[Unit]
Description=Jibri Docker Autoscaler
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/jibri-autoscaler.sh
