CONFIG=/opt/jibri/config
RESTART_POLICY=unless-stopped
JITSI_IMAGE_VERSION=stable-10888

PUBLIC_URL= <https://your-domain.com>
TZ=Asia/Karachi

# IMPORTANT:
# This must be reachable from the Jibri VM.
# Do NOT use xmpp.meet.jitsi here.
XMPP_SERVER= <jitsi-server-ip>
XMPP_PORT=5222

XMPP_DOMAIN=meet.jitsi
XMPP_AUTH_DOMAIN=auth.meet.jitsi
XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.jitsi
XMPP_MUC_DOMAIN=muc.meet.jitsi
XMPP_RECORDER_DOMAIN=recorder.meet.jitsi
XMPP_HIDDEN_DOMAIN=recorder.meet.jitsi

XMPP_TRUST_ALL_CERTS=1

JIBRI_XMPP_USER=jibri
JIBRI_XMPP_PASSWORD= <CHANGE_ME>

JIBRI_RECORDER_USER=recorder
JIBRI_RECORDER_PASSWORD= <CHANGE_ME>

JIBRI_BREWERY_MUC=jibribrewery
JIBRI_STRIP_DOMAIN_JID=muc
JIBRI_PENDING_TIMEOUT=90

JIBRI_RECORDING_DIR=/config/recordings
JIBRI_USAGE_TIMEOUT=0
JIBRI_SINGLE_USE_MODE=false

DISPLAY=:0

JIBRI_HTTP_API_EXTERNAL_PORT=2222
JIBRI_HTTP_API_INTERNAL_PORT=3333
JIBRI_ENABLE_PROMETHEUS=1

JIBRI_RECORDING_RESOLUTION=1280x720
JIBRI_RECORDING_FRAMERATE=30

CHROMIUM_FLAGS=--ignore-certificate-errors
